<div *ngIf="artista" class="main-container container top-30 animated fadeIn fast">
  <div class="row">
    <div class="col-md-3 text-center">
      <img [src]="artista.images|sinfoto" class=" img-thumbnail img-circle" alt="">
    </div>
    <div class="col-md-9">
      <h3>{{artista.name}}
        <small>Popularidad: {{artista.popularity}}</small>
      </h3>
      <hr>
      <a [href]="artista.external_urls?.spotify" class="btn btn-outline-success">Ver Página</a>
      <a [routerLink]="['/buscar']" class="btn btn-outline-danger">Regresar</a>
    </div>
  </div>
</div>

<div *ngIf="pistas" class="container">
  <h3>Top de {{artista.name}}</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Foto</th>
              <th>Canción</th>
              <th>Popularidad</th>
              <th>Preview</th>
            </tr>
          </thead>

          <tbody>
          <tr *ngFor="let pista of pistas; let i = index;">
            <td>{{i+1}}</td>
            <td>
              <img class="img-fluid img-50" [src]="pista.album?.images| sinfoto" alt="">
            </td>

            <td>
              {{pista.name}}
            </td>
            <td>
              {{pista.popularity}}%
            </td>
            <td>
              <iframe [src]="pista.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

